#root {
    background-color: #150D0F;
}
.navbar {
    color: #CC313D;
}
.navbar .logo {
    height: 30px;
}
.navbar-nav a {
    color: #CC313D !important;
}
.navbar-nav a:hover {
    color: #FFFFFF !important;
}
main, footer {
    color: #FFFFFF;
}
section {
    padding: 50px;
}
/*Seccion 1: Carousel*/
.welcome{
    padding: 0;
}
.carousel-img {
    width: 100%;
    height: 80vh;
}
/*Seccion 2: About*/
.about-Img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.section-About h1 {
    font-size: 36px;
    color: #CC313D;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.section-About button {
    border: #CC313D 1px solid;
    color: #CC313D;
    width: 20%;
    margin-top: 30px;
}
.section-About button:hover {
    border: #CC313D 1px solid;
    color: #FFFFFF;
    background-color: #CC313D;
}
/*Seccion 3: menu*/
.menu {
    text-align: center;
}
.menu .card {
    background-color: #150D0F;
    color: #CC313D;
    border: 0;
}
.menu .card-img {
    height: 30vh;
}
.menu .card-img-overlay{
    border-radius: 0;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
    padding: 40px;
}
.menu .card-title{
    font-size: 52px;
    margin-bottom: 20px;
}
.menu button {
    border: #FFFFFF 1px solid;
    color: #FFFFFF;
    width: 20%;
}
.menu button:hover {
    border: #CC313D 1px solid;
    background-color: #CC313D;
}
/*Seccion 4: Contact*/
.contact {
    padding: 0 50px;
    color: #CC313D;
} 
.contact h2 {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.contact input {
    background-color: #150D0F;
    border: #FFFFFF 1px solid;
    color: #FFFFFF;
}
.contact input::placeholder {
    color: #AAAAAA;
    font-style: italic;
}
.contact input:focus {
    background-color: #150D0F;
    color: #FFFFFF;
}
.contact textarea {
    background-color: #150D0F;
    border: #FFFFFF 1px solid;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.contact textarea:focus{
    background-color: #150D0F;
    color: #FFFFFF;
}
.contact button {
    background-color: #CC313D;
    border: #CC313D 1px solid;
}
.contact button:hover {
    background-color: #CC313D;
    border: #CC313D 1px solid;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
}
.contact button:focus{
    background-color: #CC313D;
    border: #CC313D 1px solid;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
}
/*Seccion 5: Location*/
.location {
    padding: 0 50px;
    color: #CC313D;
}
.location h2 {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
/*Seccion 6: Reserva*/
.booking{
    text-align: center;
}
.booking .card {
    border: 0;
}
.booking .card-img-top {
    height: 40vh;
}
.booking .card-img-overlay{
    border-radius: 0;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    padding: 50px;
}
.booking .card-title{
    font-size: 48px;
    margin-bottom: 40px;
}
.booking button {
    border: #FFFFFF 1px solid;
    color: #FFFFFF;
    width: 20%;
}
.booking button:hover {
    border: #CC313D 1px solid;
    background-color: #CC313D;
}
.info-desk  {
    display: block;
}
.info-mobile {
    display: none;
}
footer {
    text-align: center;
    padding: 30px;
    color: #CC313D;
}
footer .logo{
    height: 50px;
    margin-bottom: 30px;
}
footer hr {
    margin: 30px;
}
footer a {
    color: #CC313D;
    padding: 20px;
    text-decoration: none;
}
footer a:hover {
    color: #FFFFFF;
}
footer .socials {
    margin-top: 20px;
    font-size: 14px;
}
footer .copy {
    font-size: 14px;
    margin-top: 25px;
}
/*ABOUT VIEW*/
.about-page {
    background-color: #150D0F;
    color: #FFFFFF;
    padding: 0;
    text-align: center;
}
.about-page .img-about{
    height: 40vh;
    width: 100%;
    margin-bottom: 20px;
}
.about-page h2 {
    text-align: left;
    color: #CC313D;
    text-transform: uppercase;
    font-size: 42px;
    margin: 25px 0;
}
.about-page h3 {
    text-align: left;
    color: #CC313D;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 20px;
}
.about-page p {
    text-align: left;
    font-size: 16px;
}

/*ERROR PAGE*/
.error-page {
    background-color: #150D0F;
    color: #CC313D;
    text-align: center;
    padding: 100px;
}
.error-page h1 {
    font-size: 76px;
}
.error-page h3 {
    font-size: 56px;
}
.error-page hr {
    margin: 50px;
}
.error-page h4 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
}
.error-page button {
    margin: 30px;
    width: 15%;
    border: #CC313D 1px solid;
    color: #CC313D;
}
.error-page button:hover {
    background-color: #CC313D;
    border: #CC313D 1px solid;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
}
.error-page button:focus{
    background-color: #CC313D;
    border: #CC313D 1px solid;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
}
/*BOOKING PAGE*/
.booking-detail{
    padding: 20px 50px;
}
.booking-detail h2{
    text-transform: uppercase;
    font-size: 48px;
    color: #CC313D;
}
.booking-detail p {
    font-size: 20px;
}
.booking-detail .card {
    padding: 20px;
    background-color: #150D0F;
    border: #CC313D 1px solid;
    color: #CC313D;
}
.booking-detail input {
    background-color: #150D0F;
    border: #CC313D 1px solid;
    color: #FFFFFF;
}
.booking-detail input::placeholder {
    color: #AAAAAA;
    font-style: italic;
}
.booking-detail input:focus {
    background-color: #150D0F;
    color: #FFFFFF;
    border: #CC313D 1px solid;
}
.booking-detail select {
    background-color: #150D0F;
    border: #CC313D 1px solid;
    color: #FFFFFF;
}
.booking-detail select:focus {
    border: #CC313D 1px solid;
    color: #AAAAAA;
}
.booking-detail button {
    background-color: #CC313D;
    border: #CC313D 1px solid;
    width: 20%;
    margin-top: 20px;
}
.booking-detail button:hover {
    background-color: #CC313D;
    border: #CC313D 1px solid;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
}
.booking-detail .booking-list{
    padding: 0;
}
.booking-list table {
    border: #CC313D 1px solid;
}
.table-dark {
    background-color: #150D0F;
}
.booking-list .actions {
    text-align: center;
}
.booking-list button {
    font-size: 10px;
    width:auto;
    margin: 0 10px
}

/*MENU LIST*/
.menu-list {
    text-align: center;
    color: #CC313D;
}
.menu-list h2 {
    text-transform: uppercase;
    font-size: 52px;
    padding: 30px;
}
.menu-list .card-group {
    align-items: center;
    justify-content: center;
}
.menu-list .card {
    width: 18rem;
    height: 350px;
    margin: 15px;
    background-color: #150D0F;
    border: #CC313D 1px solid;
    color: #CC313D;
    padding: 10px;
}
.menu-list .card-footer{
    border: 0;
}
.menu-list button {
    background-color: #CC313D;
    border: #CC313D 1px solid;
    width: 100%;
}
.menu-list button:hover {
    background-color: #CC313D;
    border: #CC313D 1px solid;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
}
/*Menu plato individual*/
.menu-item {
    padding: 30px 50px 120px 50px;    
}
.menu-item a {
    color: #FFFFFF;
}
.menu-item h2 {
    text-transform: uppercase;
    font-size: 48px;
    padding: 30px 0;
}
.menu-item img {
    width: 100%;
}
.menu-item p {
    font-size: 18px;
}
.menu-item .sku {
    font-size: 12px;
} 

/*MOBILE*/
@media only screen and (max-width: 600px){
    /*HOME*/
    section {
        padding: 20px;
    }
    h2 {
        font-size: 28px;
    }
    /*Navbar*/
    .navbar-nav a {
        text-align: center;
    }
    /*Welcome*/
    .carousel-img {
        height: 50vh;
    }
    .carousel-caption h1 {
        font-size: 24px;
    }
    .carousel-caption h5 {
        font-size: 16px;
    }
    /*About*/
    .about-Img {
        width: 100%;
        margin-bottom: 20px;
    }
    .section-About h1 {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .section-About button {
        width: 100%;
        margin-top: 10px;
    }
    /*Menu*/
    .menu .card-img-overlay{
        padding: 10px;
    }
    .menu .card-title {
        font-size: 32px;
    }
    .menu button {
        width: 80%;
    }
    /*Contacto*/
    .contact {
        padding: 5px 0;
    }
    /*Location*/
    .location {
        padding: 20px 0;
    }
    iframe {
        width: 100%;
    }
    /*Reserva*/
    .booking .card-img-overlay{
        padding: 25px;
    }
    .booking .card-title{
        font-size: 32px;
        margin-bottom: 40px;
    }
    .booking button {
        width: 80%;
    }
    /*Footer*/
    .info-desk  {
        display: none;
    }
    .info-mobile {
        display: block;
    }
    /*About page*/
    .about-page .img-about {
        height: 30vh; 
        margin-bottom: 0;
    }
    .about-page .container {
        padding: 0 30px;
    }
    .about-page h2 {
        font-size: 32px;
    }
    .about-page h3 {
        font-size: 28px;
    }
    /*Menu page*/
    .menu-list h2 {
        font-size: 44px;
    }
    .menu-list .card {
        margin: 5px;
    }
    .menu-list .card-group {
        display: grid;
        align-items: center;
        justify-content: center;
    }
    /*Booking page*/
    .booking-detail{
        padding: 10px;
    }
    .booking-detail h2{
        font-size: 38px;
    }
    .booking-detail p {
        font-size: 16px;
    }
    .booking-detail button {
        width: 100%;
    }
    .booking-list button {
        margin: 5px;
    }
    /*Menu/plato item*/
    .menu-item {
        padding: 0 5px;   
    }
    .menu-item h2 {
        font-size: 32px;
        text-align: center; 
    }
    .menu-item p {
        font-size: 16px;
        margin-top: 10px;
    }
    /*Error page*/
    .error-page {
        padding: 25px;
    }
    .error-page h3 {
        font-size: 48px;
    }
    .error-page h4 {
        font-size: 18px;
    }
    .error-page button {
        width: 80%;
    }
}